@font-face {
    font-family: 'KH Teka';
    src: url('kh-teka/KHTekaTRIAL-Regular.woff'); /* URL to the font file */
}

body, html {
    margin: 0;
    height: 100%;
    font-family: 'KH Teka', Arial, sans-serif;
}

.full-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevent overflow from container */
}

.full-screen-text {
    width: 90vw; /* Limit width */
    height: 90vh; /* Limit height */
    max-width: 90vw; /* Limit width */
    max-height: 90vh; /* Limit height */
    font-size: 10vw; /* Responsive font size */
    padding: 20px;
    box-sizing: border-box; /* Include padding in total width/height */
    border: none; /* Remove border */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    display: flex; /* Use flexbox for centering text */
    flex-direction: column; /* Allow vertical stacking */
    justify-content: center; /* Center text vertically */
    align-items: center; /* Center text horizontally */
    text-align: center; /* Center text */
    white-space: normal; /* Enable text wrapping */
    overflow-wrap: break-word; /* Ensure words break if too long */
    word-wrap: break-word; /* Break long words */
    overflow: hidden; /* Prevent horizontal overflow */
}

/* To ensure no outline on focus */
.full-screen-text:focus {
    outline: none; /* Remove focus outline */
}
